<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
  <link rel="styleshee" hreff="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<div class="wrapper">
  <nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Ombd WebApp <b style="font-size:14px">Angular</b></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorite">Favorites( <b>0</b> )</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


</div>